.detailsSection {
  width: 75%;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem;
  background-size: 15%;
  background-image: linear-gradient(
      rgba(var(--background-color), 0.8),
      rgba(var(--background-color), 0.8)
    ),
    url('/src/assets/styles/background.jpg');
  overflow-y: auto;
}

.preferencesSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

.title {
  font-family: var(--title-font);
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(var(--text-dark-color));
}

.preferences {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.preferenceItem {
  flex: 0 1 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.subtitle {
  font-family: var(--text-font);
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(var(--text-dark-color));
}

.wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.teamsSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 1rem;
}

.teamsHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.addTeamButton {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  background-color: rgb(var(--secondary-color));
  box-shadow: 0px 0px 6px rgb(var(--text-dark-color)) inset;
  font-family: var(--text-font);
  font-size: 1rem;
  font-weight: 600;
  color: rgb(var(--text-dark-color));
  text-decoration: none;
  transition: all 250ms;
}

.addTeamButton:hover {
  background-color: rgb(var(--acent-color));
  color: rgb(var(--text-light-color));
}

.textWrapper {
  position: relative;
}

.icon {
  font-size: 1.2rem;
}

.teamsContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
