

.logoutBtn {
  position: absolute; 
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: transparent;
  color: rgb(var(--primary-color));
  border: 1px solid rgb(var(--primary-color));
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: var(--text-font);
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 250ms;
  z-index: 100; 
}

.logoutBtn:hover {
  background-color: rgba(var(--primary-color), 0.1);
  color: rgb(var(--acent-color));
  border-color: rgb(var(--acent-color));
}

@media (max-width: 768px) {
  .logoutBtn {
    bottom: 0.5rem;
    right: 0.5rem;
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
  }
}