.summarySection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 100%;
  padding: 1rem;
  background-color: rgb(var(--background-color));
  box-shadow: 0px 0px 10px rgb(var(--text-dark-color)) inset;
}

.infoSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.title {
  font-family: var(--title-font);
  font-size: 1.5rem;
  color: rgb(var(--text-dark-color));
}

.profileImgContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 275px;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgb(var(--text-dark-color)) inset;
}

.profileImg {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.userName {
  font-family: var(--text-font);
  font-size: 1.3rem;
  font-weight: 900;
  color: rgb(var(--text-dark-color));
}

.settingsSection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  font-family: var(--text-font);
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(var(--text-dark-color));
  text-decoration: none;
}

.icon {
  font-size: 2rem;
  color: rgb(var(--text-dark-color));
}

.textWrapper {
  position: relative;
}

.textWrapper::before {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: rgb(var(--text-dark-color));
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 250ms ease-in-out;
}

.link:hover .textWrapper::before {
  background-color: rgb(var(--text-dark-color));
  transform: scaleX(1);
}

.link:hover .icon {
  animation:
    icon-bounce 750ms ease-in-out 1 forwards,
    icon-rotate 1s linear 750ms infinite;
}

@keyframes icon-rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes icon-bounce {
  0% {
    transform: translateX(0%) rotateZ(0deg);
  }
  50% {
    transform: translateX(25%) rotateZ(180deg);
  }
  100% {
    transform: translateX(0%) rotateZ(0deg);
  }
}
