



.selectedPokemonWrapper {
  position: relative;
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -4%;
  left: 100%;
  transform: translate(-100%, -4%);
  border: none;
  border-radius: 50%;
  background-color: rgb(var(--acent-color));
  transition: all 250ms;
}

.iconClose {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.closeBtn:hover {
  cursor: pointer;
}

.contentSection {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.5rem;
  padding: 1rem;
  background-size: 15%;
  background-image: linear-gradient(
      rgba(var(--background-color), 0.85),
      rgba(var(--background-color), 0.85)
    ),
    url(/src/assets/styles/background.jpg);
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-areas: '. title shinyButton';
  width: 50%;
}

.title {
  grid-area: title;
  justify-self: end;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(var(--text-dark-color));
}

.shinyButton {
  position: absolute;
  top: 4.5rem;
  left: 1rem;
  grid-area: shinyButton;
  justify-self: center;
  width: 125px;
  padding: 0.5rem;
  border: 1px solid rgb(var(--text-dark-color));
  border-radius: 0.5rem;
  background-color: rgb(var(--secondary-color));
  font-family: var(--text-font);
  font-weight: 600;
  font-size: 0.9rem;
  color: rgb(var(--text-dark-color));
  transition: all 250ms;
}

.shinyButton:hover {
  background-color: rgb(var(--acent-color));
  color: rgb(var(--text-light-color));
  cursor: pointer;
}

.shinyActive {
  background-color: rgb(var(--POKEDEX-color));
}

.shinyButton:disabled {
  background-color: rgba(var(--background-color), 0.85);
  pointer-events: none;
}

.teamWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
  width: 50%;
}

.saveBtnSection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.saveBtn {
  padding: 1rem 2rem;
  border: 1px solid rgb(var(--text-dark-color));
  border-radius: 0.5rem;
  background-color: rgb(var(--secondary-color));
  font-family: var(--text-font);
  font-weight: 600;
  font-size: 1rem;
  color: rgb(var(--text-dark-color));
  transition: all 250ms;
}

.saveBtn:hover {
  background-color: rgb(var(--acent-color));
  color: rgb(var(--text-light-color));
  cursor: pointer;
}

.saveBtn:disabled {
  background-color: rgba(var(--background-color), 0.85);
  pointer-events: none;
}



@media (max-width: 1376px) {
  .teamWrapper {
    width: 65%;
  }
}

@media (max-width: 1066px) {
  .teamWrapper {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .teamWrapper {
    width: 70%;
  }

  .saveBtn {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }

  .shinyButton {
    top: 4.5rem;
  }
}

@media (max-width: 780px) {
  .teamWrapper {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .shinyButton {
    top: 5rem;
  }
}

@media (max-width: 615px) {
  .teamWrapper {
    width: 85%;
  }

  .closeBtn {
    width: 20px;
    height: 20px;
    top: -7%;
    left: 105%;
  }
}

@media (max-width: 470px) {
  .teamWrapper {
    gap: 1.2rem;
    width: 100%;
  }
}

@media (max-width: 380px) {
  .contentSection {
    justify-content: space-between;
    gap: 1rem;
    padding: 1.2rem;
    padding-top: 2.8rem;
  }

  .shinyButton {
    width: 100px;
    top: 5rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 345px) {
  .shinyButton {
    width: 100px;
    top: 6rem;
    font-size: 0.8rem;
  }
}
