.dialog {
  width: 950px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  border: 2px solid rgb(var(--text-dark-color));
  border-radius: 1rem;
  background-color: rgb(var(--text-light-color));
  z-index: 1;
  overflow-y: hidden;
}

.dialog.openDialog {
  transform-origin: center;
  animation: openD 300ms ease 1 forwards;
}

.dialog.closeDialog {
  transform-origin: center;
  animation: closeD 300ms ease 1 forwards;
}

.dialog.animating {
  transition: all 250ms ease-in-out;
}

.dialog::backdrop {
  background-color: rgba(var(--background-color), 0.9);
  animation: fade-in 300ms ease;
}

.dialogContent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0.5rem 0rem;
}

.closeButton {
  all: unset;
  width: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.closeIcon {
  width: 100%;
}

.dialogTitle {
  margin: 1rem 0rem;
  font-family: var(--title-font);
  font-size: 1.2rem;
  text-align: center;
  color: rgb(var(--text-dark-color));
}

.mainContent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.5rem;
  width: 100%;
}

.searchBarContent {
  width: 100%;
}

.pokemonList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  gap: 2rem 1rem;
  width: 100%;
  height: 500px;
  padding-top: 0.1rem;
  padding-bottom: 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
}

.pokemonButton {
  padding: 0.2rem;
  position: relative;
  border: none;
  transition: all 250ms;
  cursor: pointer;
}

.pokemonButton::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pokemonButton:hover {
  outline: 1px solid rgb(var(--text-dark-color));
}

.loadingMessage {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-family: var(--text-font);
  font-size: 1rem;
  font-weight: 600;
  color: rgb(var(--primary-color));
}

.emptyPokemonMessage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  font-family: var(--text-font);
  font-size: 1rem;
  font-weight: 500;
  color: rgb(var(--text-dark-color));
}

.emptyPokemonTitle {
  font-family: var(--title-font);
  font-size: 1.4rem;
  font-weight: 700;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes openD {
  from {
    top: -100%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes closeD {
  from {
    top: 50%;
    opacity: 1;
  }
  to {
    top: -100%;
    opacity: 0;
  }
}
