
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.dialogBox {
    width: 480px;
    background: rgb(240, 240, 240);
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.35);
    font-family: "Poppins", sans-serif;
}

.header {
    background: rgb(var(--primary-color));
    color: rgb(var(--text-light-color));
    font-size: 22px;
    padding: 20px 0;
    text-align: center;
    font-weight: 600;
}

.content {
    padding: 28px 30px;
    text-align: center;
    color: rgb(var(--text-dark-color));
}

.message {
    font-size: 17px;
    margin-bottom: 25px;
    line-height: 1.4;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.confirmButton {
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--text-light-color));
    border: none;
    padding: 12px 28px;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.confirmButton:hover {
    opacity: 0.85;
}


.cancelButton {
    background-color: rgb(var(--acent-color));
    color: rgb(var(--text-light-color));
    border: none;
    padding: 12px 28px;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.cancelButton:hover {
    opacity: 0.85;
}
